
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	{%for course in courses%}
	<button> <a href="/course/add/"> New Course </a></button>
	<!-- {%endfor%} -->

	<table  class="table table-striped">
	
		<tr>
			<th> Name </th>
			<th> Duration </th>
			<th> Description </th>
			<th> Teacher </th>
			<th> Details </th>
			<th> Edit </th>
		</tr>
		{%for course in courses%}
		<tr>
			<td>{{course.name}}</td>
			<td>{{course.duration}}</td>
			<td>{{course.description}}</td>
			<td>{{course.teacher}}</td>
			<td> <a href="/course/view/{{course.pk}}/"> View more </a></td>
			<td> <a href="/course/edit/{{course.pk}}/"> Edit </a></td>
		</tr>
		{%endfor%}

</table>

</body>
</html>


